@media (max-width: 576px) { 
.navbar{	
	background-color: rgb(27, 27, 27);
	border-radius: 0px;
	box-shadow: 0 3px 20px rgba(0,0,0, 0.1);
}
.nav-link{
	color: white !important;
}

}

/*navbar*/

.navbar-brand img{
	width: 56px;
	height: 13px;
	margin-top: -5px;
}
/*akhir navbar*/


/*jumbotron*/
.jumbotron.utama{
 background-image : url('../img/laptop.jpg');
 background-size: cover;
 height: 540px;
 text-align: center;
}

.jumbotron .display-4{
	color: white;
	margin-top: 150px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	font-size: 38px;
	margin-bottom: 30px;
}
.jumbotron .display-4 span{
	font-weight: 500;
	text-transform: uppercase;

}

/*akhir jumbotron*/


/*info-panel*/
.info-panel{
	box-shadow: 0 3px 20px rgba(0,0,0, 0.1);
	border-radius: 12px;
	margin-top: 100px;
	background-color: white;
	padding: 30px;
}
.tex-judul span{
	font-weight: 100;
}

.info-panel img{
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.info-panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p {
	font-size: 14px;
	color: #4a4747;
	margin-top: -5px;
	font-weight: 200;
}
/*akhir info-panel*/


/*workingspace*/
.workingspace{
	margin-top: 50px;
	text-align: center;
}

.workingspace img{
	border-radius: 5px;
	margin-top: 20px;
	max-height: 340px;
}

.workingspace h3{
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}

.workingspace h3 span{
	font-weight: 500;
}
.workingspace p{
	font-size: 18px;
	color: #4a4747;
	font-weight: 200;
	margin: 30px 0;
}

/*akhir working space*/


/*testimoni*/
.carousel.bgambar{
	background-color: gray;
	background-size: cover;
	height: 560px;
}
.judultes{
	text-align: center;
	font-weight: 200;
	color: #bd0505;

}
.judultes span{
	color: Black;
}
.testimonial{
	margin-top: 10px;
}

.testimonial h5{
	text-align: center;
	font-weight: 200;
	font-style: italic;
	font-size: 18px;
	color:#edf3f3;
}

.testimonial figure img{
	width: 150px;
	opacity: 1;
	margin-top: 5px;
	text-align: center;
}

.testimonial figure h5{
	font-size: 17px;
	font-weight: bold;
	font-style: normal;
	color: #312122;
}
.testimonial figure h5 p{
	text-align: center;
}
.testimonial figure p{
	font-size: 13px;
	color: #fffdfd;
	margin-top: -6px;
}

.testimonial figcaption{
	text-align: center;
}

/*akhir testimoni*/


/*utility*/
.tex-judul{
	padding-bottom: 50px;
	font-size: 34px;
	text-align: left;
}
/*.tex-judul::after{
	content: '';
	display: block;
	border-bottom: 3px solid black;
	width: 130px;
	margin:auto;
	padding-top: 10px;
	padding-bottom: 10px;
}*/
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}


/*footer*/

.footer{
	margin-top: 100px;
	background-color: white;
}

.footer	p{
	color: #acacac;
	font-size: 18px;
}

.footer img{
	width: 50px;
	height: 50px;
	margin: 0px 30px;
	margin-bottom: 80px;
}
.footer .tex-judul{
	font-weight: 500;
	margin-bottom: -20px;
}
/*akhir footer*/


/* khusus untuk laptop/pc */
@media (min-width: 992px) { 
.gambar-slide img{
	width:570px;
	height: 570px;
}

.navbar-brand img{
	width: 120px;
	height: 25px;
}
.navbar.bg-dark{
	transition: 1s;
}
.navbar.scroling{
	height: 57px;
	background-color: rgba(12, 12, 12,0.4);
	transition: 1.5s;
	border-radius: 0px;
}
.navbar-brand, .nav-link{
	color: white !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.nav-link{
	/* text-transform : untuk ukuran umum tex seperti huruf kecil atau besar*/
	text-transform: uppercase;
	margin-right: 30px;
}

.nav-link.ujung{
	/* text-transform : untuk ukuran umum tex seperti huruf kecil atau besar*/
	text-transform: uppercase;
	margin-right: 5px;
}

.nav-link:hover::after{
	content: '';
	display: block;
	border-bottom: 3px solid #0B63DC;
	width: 50%;
	margin:auto;
	padding-bottom: 5px;
	margin-bottom: -8px; 
}
.jumbotron.utama{
	
	height: 640px;
	transition: 1s;
}
.jumbotron .display-4{
	font-size: 62px;
}
.workingspace{
	text-align: left;
}
.workingspace .kanan{
	text-align: right;
}
.testimonial h5{
	font-size: 32px;
}
}